.sf {
	margin-left: 10px;
}
#contents{
	font-family:"黑体";;
}
.contents-right {
	padding-left: 30px;
	padding-right:30px ;
}
.contents-left{
	width:140px;
	font-weight: 500;
}
.h-span:hover{
	text-decoration: underline;
	color:#000000;
	cursor: pointer;
}
.red{
	border-color:red;
}
.orderButtonC{
	
}
.list_ul_li_a{
	cursor: pointer;
}
.conversion_panel{
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
}
.link_bt{
	margin:10px 20px 10px 0px;
}
.choose:hover{
	opacity: 0.7;
}
.dbToExcel{
	margin-top: 20px;
}
